<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'book/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Book Manager</title>
</head>

<body>
    <h1 class='title'>Author</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <a href="{% url 'book:author register' %}">Add Author</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <th>{{ author.name }}</th>
                <th> <a href="{% url 'book:author edit' author.id %}"><span>Edit</span></a></th>
                <th> <a href="{% url 'book:author delete' author.id %}"><span>Delete</span></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>