<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'book/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Book Manager</title>
</head>

<body>
    <h1 class='title'>Author Edit</h1>
    <form method="POST">
        <fieldset>
            <legend>Author Editor</legend>
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit">Update</button>
        </fieldset>
    </form>
</body>

</html>
