{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class='title'>Book Register</h1>
<form method="POST">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <fieldset>
        <legend>Book Register</legend>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.name == "categories" %}
            <p><a href="{% url 'book:category register' %}">Add Category from here</a></p>
            {% elif field.name == "authors" %}
            <p><a href="{% url 'book:author register' %}">Add Author from here</a></p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </fieldset>
</form>
{% endblock content %}
