{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class='title'>Book Register</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'book:import csv' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv">
    <button type="submit">Upload</button>
</form>
<form method="POST">
    <fieldset>
        <legend>Book Register</legend>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.name == "categories" %}
            <p><a href="{% url 'book:category register' %}">Add Category from here</a></p>
            {% elif field.name == "authors" %}
            <p><a href="{% url 'book:author register' %}">Add Author from here</a></p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </fieldset>
</form>
{% endblock content %}
