{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class='title'>Book Register</h1>
<form method="POST">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <fieldset>
        <legend>Book Register</legend>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </fieldset>
</form>
{% endblock content %}
