{% extends "./base.html" %}
{% load static %}

{% block content %}
<h1 class='title'>Category</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<a href="{% url 'book:category register' %}">Add Category</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <th>{{ category.name }}</th>
            <th> <a href="{% url 'book:category edit' category.id %}"><span>Edit</span></a></th>
            <th> <a href="{% url 'book:category delete' category.id %}"><span>Delete</span></a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}